.checkout{
    display: flex;
    padding: 20px;
    background-color: #EAEDED;
    height: max-content;
    width: 100%;
    text-align: left;
    justify-content: space-between;
}

.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    width: 90% !important;
}

.checkout_section{
    padding: 10px;
    flex: 0.7;
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    
}
.subtotalsection{
    flex: 0.3;
    margin-top: 10px;
    margin-right: 5px;
}

.noItems{
    padding: 10px;
    font-size: 18px;
}

.noItems button{
     background-color: #f0c14b !important;
    border: 1px solid !important;
    border-color: #a88734 #9c7e31 #846a29 !important;  
    padding: 5px 50px 5px 50px ;
    border-radius: 2px; 
}

.noItems button:hover{
    background-color: #EEBA36 !important;
}


@media screen and (max-width: 800px){
    .checkout{
        flex-direction: column;
    }
}