@media screen and (max-width: 1000px){
    .detailsContainer{
    display: flex;
    flex-direction: column !important;
}

    .imageBig{
        height: 300px;
    }
}


.imageContainer{
    display: flex;
    flex-direction: row !important;
    }

.detailsContainer{
    display: flex;
    flex-direction: row;
}

.imageSection{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center !important;
    margin: 30px;
    position: sticky;
}

.info{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;

    }
.image{
    height: auto;
    width: 30vw;
    padding: 30px;
}

.imageBig{
    width: 100%;
    height: 100%;
   object-fit:contain;
}

.imageSmall{
    height: 70px;
    object-fit: contain;
    padding: 10px;
    margin: 10px;
}

.imageSmall:hover{
    border: 2px solid !important;
    border-color: #F3A847 !important;
    border-radius: 3px;
}

.productTitle{
    text-align: left;
}

.productTitle p,h6{
    padding: 5px 0px;
    margin: 0px;
}

.iconRow{
    display: flex;
    flex-direction: row;
    width: max-Content;
}

.iconItem{
    display: flex;
    flex-direction: column; 
    background-color: white;
    padding: 5px !important;
    height: max-content;
}

.iconItem img{
    height: 30px;
    object-fit: contain;
    
}

.iconItem span{
    font-size:13px;
    text-align: center
}

.iconItem:hover{
    text-decoration: underline;
}

.productInfo p{
    color: green;
    text-align: left;
    font-weight: 500;
    margin: 0px;
}

.info li{
    font-size: 14px;
    text-align: left;
    margin: 0px;
}

.info ul{
    padding: 0px;
    margin-left: 20px;
}

.addtoCart{
    justify-content: center;
    padding: 10px 30px;
    margin: 20px 40px;
    border: 1px solid;
    border-radius: 10px;
    border-color: grey;
    height: max-content;
}

.dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    margin-left: 10px !important;
    justify-content: center;
    padding-bottom: 10px;
}



.dropdownmenu{
    margin-right: 0px !important;
    background-color: white !important;
    padding: 0px !important;
}

.addtoCart input{
    margin-bottom: 10px;
}

small{
    display: flex;
    justify-content: flex-start !important;
    margin: 0px;
    width: max-content;
}

.dropdownmenu button{
    background-color: white !important;
    color: black !important;
}
 
.dropdown-toggle:focus {
    box-shadow: none !important;
}

.btn-primary{
    border-color: grey !important;
}

.dropdownItem{
    background-color: white !important;
}

.dropdown span{
    padding-right: 10px;
}

.cartBtn{
    background-color: #F3A847 !important;
    width: 100%;
    margin-bottom: 10px;
}