@media screen and (max-width: 800px){
    .navbaritemimg{
        width: 50vh !important;
    }
    .header_logo{
        width: 80px !important;
    }
    .header_option_1{
        font-size: 10px !important;
    }

    .header_option_2{
        font-size: 12px !important;
        font-weight: 500 !important;
    }
    .header_option{
        padding: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;

    }


}

.header{
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 130px;
    object-fit: contain;
    padding: 5px !important;
    margin: 20px 20px 0 20px;
}
.header_home_logo{
    margin-bottom: 12px;
}

.header_logo:hover{
    border: 2px solid !important;
    border-color: white !important;
    padding: 5px !important;
    border-radius: 3px;
}

.header_search{
    display: flex;
    flex: 1;    
    align-items: center;
    border-radius: 24px 0px 0px 24px;
    
}

.header_search_input{
    width: 100%;
    border: none;
    padding: 5px;
    height: 35px;
}

.header_search_input:focus{
     outline-color: #F3A847;
}

.header_search_icon{
    background-color: #F3A847;
}

.icon{
    display: flex;
    height: 35px;
    background-color: #F3A847;
    align-items: center;
    border-radius: 0px 2px 2px 0px;
    padding: 5px 5px;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px !important;
    color: white;
}

.header_option_1{
    font-size: 13px;
}

.header_option_2{
    font-size: 15px;
    font-weight: 800;
}

.header_option_basket{
    display: flex;
   align-items: center;
    padding: 5px !important;
    margin-top: 10px;
    color: white;
}

.checkout_cart_header_option:hover{
    text-decoration: none;
}


.header_option:hover {
    border: 2px solid !important;
    border-color: white !important;
    border-radius: 3px;
    text-decoration: none;
}
.header_option_basket:hover{
    border: 2px solid !important;
    border-color: white !important;
    color: #F3A847;
    border-radius: 3px;
}




.basket_count{
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav{
    display: flex;
    flex-direction: row;
}

.navbar{
    background-color: #232F3E;
    display: flex;
    align-items: center !important;
    padding: 0px 10px !important;
    position: sticky;
    
}

.navbar-nav{
    align-items: center !important;
}

.navbarmaintitle{
    color: white !important;
    text-align: left !important;
    padding: 5px 10px ;
    vertical-align: middle;
}

.navbarmaintitle:hover{
     background-color: #F3A847 !important;
    border-radius: 3px;
    color: black !important;
}


.navbartitles{
    color: white !important;
    text-align: left !important;
    margin-bottom: 0px;
    justify-content: center;
    height: max-content;

}


.navbaritems{
    display: flex;
    align-items: center !important;
}

.navbartitles:hover{
    background-color: #F3A847 !important;
    border-radius: 3px;
    color: black !important;

}

.navbardropdown a{
    color: white !important;
    float: left !important;
}

.navbardropdown:hover .dropdown-menu {
    display: block;
    
}

.nav-item:hover .nav-link {
    background-color: #F3A847 !important;
    border-radius: 3px;
    color: black !important;
}

.navbardropdownitems{
    background-color: #232F3E !important;
    float: left !important;
}
.navbar .dropdown-menu{
    background-color: #232F3E !important;
    float: left !important;
}

.navbardropdownimg{
    width:100%;
    object-fit: contain;
}

.navbardropdownimg:hover{
    background-color:  #232F3E !important;
}

.navbaritemimg{
    margin-left:0px;
}



