.arrows{
    height: 100px;
    width: 50px;
    border: none;   
    background-color: transparent;
}

.itemcarouseltitle{
    font-size: 25px;
    float: left;
    margin: 10px;
}

.itemcarousel{
    margin: 20px;
    margin-top:10px;
    padding: 10px;
    background: white;
}
