.order {
    padding: 40px;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
    display:flex; 
    flex-direction: column;
}

.order_id {
    position: absolute;
    top: 20px;
    right: 20px;
  }

.order_total {
    font-weight: 500;
    text-align: right;
  }

.order h2,p{
    text-align: left;
}


