@media screen and (max-width: 1000px){
    .payment_section{
        display: flex;
        flex-direction: column;
    }
    
}

.payment{
    display: flex;
    flex-direction: column;
}


.payment_container > h1 {
    padding: 20px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
    text-align: left;
    color: gray;
  }

  .payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_title {
    flex: 0.2;
    text-align: left;
}

.payment_address, .payment_items, .payment_details {
    flex: 0.8;
    text-align: left;
}

.payment_details button{
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29; 
    color: #111;
  }

.payment_details button:hover{
    background: #EEBA36;
}

.payment_details{
    max-width: 400px;
}

.cardelement{
    margin:10px 10px 10px 0px;
}