.sidebar-header{
  background: #232F3E !important;
  color: white !important;
}


.first-back-btn {
    color: white !important;
    background-color:  #232F3E !important;
    text-align: left !important;
}

svg{
  margin-right: 5px;
}

.sidebar-main-content ul{
  font-size: 15px;
}

.section-heading{
  font-size: 20px;
}