.sidebar-header{
  background: #232F3E !important;
  color: white !important;
}


.first-back-btn {
    color: white !important;
    background-color:  #232F3E !important;
    text-align: left !important;
}

#Capa_1{
  margin-right: 10px;
  background: white;
  padding: 2px;
  width: 15px;
  border-radius: 5px;
  height: 15px;
}

.sidebar-main-content ul{
  font-size: 15px;
}

.section-heading{
  font-size: 20px;

}

.sidebar-body{
  padding: 10px;
}

