.subtotalbox{
    background-color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtotal_gift{
    margin-bottom: 15px;
}

.proceedtocart{
    background-color: #f0c14b !important;
    border: 1px solid !important;
    border-color: #a88734 #9c7e31 #846a29 !important;  
    padding: 5px;
    border-radius: 2px; 
}

.proceedtocart:hover{
    background-color: #EEBA36 !important;
}